{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block styles %}
    {{ parent() }}
    <style>
        input[type="password"]:invalid {
            box-shadow: none;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.firstName) }}
        {{ form_row(registrationForm.lastName) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password',
            attr: {
                pattern: '^(?=.*[a-z])(?=.*[A-Z])(?=.*\d).{6,}$',
                title: 'Password must contain at least one uppercase letter, one lowercase letter, and one digit, and be at least 6 characters long.'
            }
        }) }}
        {{ form_row(registrationForm.confirmPassword, {
            label: 'Confirm Password'
        }) }}
        {{ form_row(registrationForm.profilePicture) }}
        {{ form_row(registrationForm.agreeTerms) }}
        {{ form_row(registrationForm.role) }}
        {{ form_row(registrationForm.bracelet) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
